.navbar {
    padding: 10px 8px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}


.navbar .navbar-header a, #myNavbar .nav li a {
   color : grey;
}


 #myNavbar .nav li a:hover{
    background-color: #7386D5;
    color: #fff;
    border-radius : 5px; 
} 
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}