<div class="container-fluid">
  <div class="row">
      <h1 class="page-header" id="page_header"> NEWS PORTAL PAGE </h1>
    
  </div>
</div>


<ul class="nav nav-tabs" style="margin:auto;">
  <li><a data-toggle="tab" href="#home" routerLinkActive="active">Sports</a></li>
  <li><a data-toggle="tab" href="#menu1"  routerLinkActive="active">Today's News</a></li>
  <li><a data-toggle="tab" href="#menu2"  routerLinkActive="active">Times Now</a></li>
</ul>

<div class="tab-content" *ngIf="sportsNews">
  <div id="home" class="tab-pane fade in active">
   <p><br></p>
    <div class="row">

        <div class="col-md-4" *ngFor = "let news of sportsNews">
            <div class="panel panel-default">
              <div class="panel-heading" style="min-height: 100px;text-align:inherit"><h4 style="font-weight:bold;">{{news.title.substr(0,100)+'...'}}</h4></div>
              <div class="panel-body">


                <img *ngIf="news.urlToImage" style="height:200px;width:100%;" src="{{news.urlToImage}}" class="img-thumbnail">
                <img *ngIf="!news.urlToImage" style="height:200px;width:100%;" src="../../assets/images/noimage.jpg" class="img-thumbnail">
              </div>
        
              <div class="panel-footer" style="height: 120px;box-sizing: border-box;">{{news.description.substr(0,100)+'...'}}
                <br><br>
                <a href="{{news.url}}" target="_blankx">For Detail News</a> 
              </div>
            </div>
            </div>
    </div>
  </div>
  <div id="menu1" class="tab-pane fade" *ngIf="todaysNews">

    <p><br></p>
      <div class="row">
          <div class="col-md-4" *ngFor = "let news of todaysNews">
            <div class="panel panel-default">
              <div class="panel-heading" style="min-height: 100px;text-align:inherit"><h4 style="font-weight:bold;">{{news.title.substr(0,100)+'...'}}</h4></div>
              <div class="panel-body">
                <img  *ngIf="news.urlToImage" style="height: 250px;width :100%;" src="{{news.urlToImage}}" class="img-thumbnail">
                <img *ngIf="!news.urlToImage" style="height:250px;width:100%;" src="../../assets/images/noimage.jpg" class="img-thumbnail">
            </div>
        
              <div class="panel-footer" style="height: 120px;box-sizing: border-box;">{{news.description.substr(0,100)+'...'}}
                <br><br>
                <a href="{{news.url}}" target="_blankx">For Detail News</a> 
              </div>
            </div>
            </div>
          </div>
        </div>

   
  <div id="menu2" class="tab-pane fade" *ngIf="timesNews">
      <p><br></p>
      <div class="row">
          <div class="col-md-4" *ngFor = "let news of timesNews">
            <div class="panel panel-default">
              <div class="panel-heading" style="min-height: 100px;text-align:inherit"><h4 style="font-weight:bold;">{{news.title.substr(0,100)+'...'}}</h4></div>
              <div class="panel-body">
                <img *ngIf="news.urlToImage" style="height: 250px;width:100%;" src="{{news.urlToImage}}" class="img-thumbnail">
                <img *ngIf="!news.urlToImage" style="height:250px;width:100%;" src="../../assets/images/noimage.jpg" class="img-thumbnail">
              </div>
        
              <div class="panel-footer" style="height: 120px;box-sizing: border-box;">{{news.description.substr(0,100)+'...'}}
                <br><br>
                <a href="{{news.url}}" target="_blankx">For Detail News</a> 
              </div>
            </div>
            </div>
          </div>
  </div>
</div>