  <!-- Top content
  <div class="top-content">
        	
      <div class="inner-bg">
          <div class="container">
              
              <div class="row">
                  <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                      <div class="form-top-left">
                        <h3>Please Login Here</h3>
                          <h5>Enter your username and password to log on:</h5>
                      </div>
                      <div class="form-top-right">
                        <i class="fa fa-key"></i>
                      </div>
                      </div>
                      <div class="form-bottom">
                        <form class="login-form">
                          <div class="form-group" >
                            <label class="sr-only" for="username">Username</label>
                              <input type="text"  name="username" placeholder="Username..." class="form-username form-control" id="username">

                             
                            </div>
                            <div class="form-group" >
                              <label class="sr-only" for="password">Password</label>
                              <input type="password"   name="password" placeholder="Password..." class="form-password form-control" id="password">
                           
                             
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="tc" value="1">Terms And Conditions
                                </label>
                            </div>
            
                          
                            <button type="submit"  class="btn">Sign in!</button>
                        </form>
                  </div>
                  </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12 text-center">
                  <h4 style="color:#fff;">Already a Member?</h4> <a routerLink="/login">Login Here</a>
                </div>
              </div>
             
          </div>
      </div>
      
  </div> -->
